<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite1" verbose="1">
	<test name="Mandate Functions">
		<classes>
			<class name="com.test.wrappers.GenericWrappers"></class>
		</classes>
	</test>
	<test name="Test Cases">
		<classes>
			<class name="com.test.testcases.TC001LogIn" />
			<class name="com.test.testcases.TC003CreateNewRequest" />
			<class name="com.test.testcases.TC004SendToSales" />
			<class name="com.test.testcases.TC005SubmitDraft" />
			<class name="com.test.testcases.TC006RequestCounts" />
			<class name="com.test.testcases.TC002LogOut" />
		</classes>
	</test>
	<listeners>
		<listener class-name="com.test.wrappers.CustomReportListener" />
		<listener class-name="com.test.wrappers.CustomTestListener" />
	</listeners>
</suite>
